body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1e1e1e;
    color: white;
}

/* Container for title and subtitle */
.header-container {
    background-color: black; /* Black background */
    padding: 30px 0;  /* Adjust padding to surround title and subtitle */
    text-align: center;  /* Center the text */
}

.title-background {
    background-image: url('data/1957.jpg');
    background-size: cover;
    background-position: center top; /* Centers the image at the top */
    background-repeat: no-repeat;
    padding: 50px 20px; /* Adjust padding as needed */
    color: white;
    text-align: center;
    position: relative;
    margin-bottom: 100px;
}

.title-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Black overlay for fade effect */
    z-index: 1;
}

.title-background h1,
.title-background h2 {
    position: relative;
    z-index: 2; /* Bring text above the background overlay */
}

h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    z-index: 10000;
    position: relative;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-top: 5px;
    font-weight: normal;
    z-index: 10000;
    position: relative;
}

h3 {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;
    font-weight: normal;
    z-index: 10000;
    position: relative;
}

.sub {
    font-size: 36px; /* Larger for prominence */
    font-weight: 900; /* Extra bold */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 50px; /* Significant space from preceding content */
    margin-bottom: 20px; /* Closer to content below */
    color: #ffffff; /* Consistent with site theme */
    z-index: 10000;
    position: relative;
}

.quote {
    font-size: 24px; /* Large font size */
    font-style: italic; /* Italicized for quote effect */
    color: rgba(255, 255, 255, 0.7); /* Slight opacity for subtlety */
    text-align: center; /* Centered on the page */
    max-width: 1200px; /* Optional: constrains width for readability */
    margin: 10px auto; /* Space around the quote */
    line-height: 1.4; /* Comfortable line spacing */
}

.content {
    max-width: 1200px;
    margin: 0px auto;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}

#map {
    height: 600px;
    width: 100%;
    margin: 50px 0;
    position: relative;
    z-index: 1;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

.map-legend {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    border-radius: 4px;
    z-index: 5000;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    font-size: 16px;
    z-index: 10000;
}

.year-display {
    font-size: 18px;
    margin-top: 10px;
}

.date-controls {
    text-align: center;
    margin: 20px auto;
    max-width: 900px;
    z-index: 10000;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

input[type="range"] {
    width: 400px;
    margin: 0 20px;
}

/* Style for the new plot */
.line-chart {
    margin-top: 50px;
    margin-bottom: 50px;
}

svg {
    background-color: transparent;
    display: block;
    margin: auto;
}

.minimal-axis text, .minimal-axis path, .minimal-axis line {
    stroke: none;
    fill: none;
}

svg {
    background-color: transparent;
    display: block;
    margin: auto;
}

.minimal-theme text {
    fill: white;
    font-family: 'Roboto', sans-serif;
}

.word-cloud-container {
    display: flex;
    justify-content: center;  /* Center the word clouds */
    width: 80%;  /* Reduce the overall container width */
    margin: 0 auto;  /* Center the container */
    margin-top: 100px;
}

.cloud {
    width: 45%;  /* Keep the width of each cloud */
    height: 500px;
    position: relative;
    margin: 0 10px;  /* Small margin between the two clouds */
}

.title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

.area-chart-container {
    width: 80%;
    margin: 50px auto;
    position: relative;
}

.area-svg {
    background-color: transparent;
    display: block;
    margin: auto;
}

.area-legend {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.area-legend-item {
    margin-right: 20px;
    font-size: 14px;
    color: white;
}

.area-legend-color-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.area-axis text {
    fill: #ffffff;  /* Subtle axis labels */
    font-size: 12px;
}

.hover-box {
    width: 40%; /* Initial small size */
    height: 100px; /* Small height before click */
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 100px;
    position: relative;
    transition: all 0.5s ease; /* Smooth transition */
}

.hover-box.expanded {
    width: 90%; /* Larger size when expanded */
    height: 800px; /* Taller height to fit the PDF */
    padding: 20px;
}

.hover-box canvas {
    width: auto;
    max-width: 40%; /* Restrict width */
    height: auto;
    max-height: 100%;
    margin-right: 20px;
    display: block;
}

.hover-box .hover-text {
    flex-grow: 1;
    font-size: 10px;
}

.timeline-container {
    width: 80%;
    margin: auto;
    position: relative;
    padding-bottom: 70px;
    padding-top: 50px;
}

.timeline {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 2px;
    background-color: white;
    margin-top: 30px;
}

.timeline-point {
    cursor: pointer;
    position: relative;
}

.timeline-point span.year {
    position: absolute;
    top: -30px;
    left: -10px;
}

.timeline-point .circle {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
}

.pdf-pagination {
    position: absolute;
    bottom: 10px;
    left: 20px;
    display: flex;
    justify-content: center;
    width: 40%;
    z-index: 2;
}

.pagination-circle {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.pagination-circle.active {
    background-color: orange;
}

.charity-container {
    display: flex;
    justify-content: center;  /* Center elements horizontally */
    align-items: center;
    margin: 50px auto;
    max-width: 1400px;
    height: 500px;
    transition: all 0.5s ease;
}

.charity-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100%;
}

.charity-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.charity-button {
    width: 100%;
    padding: 8px 32px;  /* Padding for the icon */
    margin: 5px 0;
    background-color: #666;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}

.charity-button:hover {
    background-color: #999;
}

.charity-button .color-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    position: absolute;
    left: 10px;
}

.charity-chart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
    padding: 20px;
}

.charity-blurb {
    display: none;
    align-items: center;
    width: 30%;
    height: 100%;
    padding: 30px;
    font-size: 17px;
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    overflow-y: auto;
}

.charity-container.with-blurb {
    justify-content: space-between;
}

.charity-blurb.show {
    display: flex;
}

.x-axis text {
    fill: white;
    font-size: 14px;
    opacity: 0.5;
}

.x-axis path,
.x-axis line {
    stroke: none;
}

.line {
    fill: none;
    stroke-width: 2px;
}

.charity-title {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
    text-align: center;
}

a {
    color: #add8e6; /* Light blue color */
    text-decoration: none; /* Remove underline if desired */
}

a:hover {
    color: #b0e0e6; /* Slightly lighter shade on hover */
    text-decoration: underline; /* Optional: add underline on hover */
}

.popup-title {
    font-size: 16px; /* Adjust as needed */
    font-weight: bold;
}

.blurb-text {
    font-size: 14px; /* Set this as small as desired */
    opacity: 0.8;    /* Slight opacity if you want it softer */
    line-height: 1.2;
}
