body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1e1e1e;
    color: white;
}

/* Container for title and subtitle */
.header-container {
    background-color: black; /* Black background */
    padding: 30px 0;  /* Adjust padding to surround title and subtitle */
    text-align: center;  /* Center the text */
}

h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    z-index: 10000;
    position: relative;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-top: 5px;
    font-weight: normal;
    z-index: 10000;
    position: relative;
}

h3 {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    font-weight: normal;
    z-index: 10000;
    position: relative;
}

.content {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

#map {
    height: 600px;
    width: 100%;
    margin: 50px 0;
    position: relative;
    z-index: 1;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

.map-legend {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    border-radius: 4px;
    z-index: 5000;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    font-size: 16px;
    z-index: 10000;
}

.year-display {
    font-size: 18px;
    margin-top: 10px;
}

.date-controls {
    text-align: center;
    margin: 20px auto;
    max-width: 900px;
    z-index: 10000;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

input[type="range"] {
    width: 400px;
    margin: 0 20px;
}

/* Style for the new plot */
.line-chart {
    margin-top: 50px;
    margin-bottom: 50px;
}

svg {
    background-color: transparent;
    display: block;
    margin: auto;
}

.minimal-axis text, .minimal-axis path, .minimal-axis line {
    stroke: none;
    fill: none;
}

svg {
    background-color: transparent;
    display: block;
    margin: auto;
}

.minimal-theme text {
    fill: white;
    font-family: 'Roboto', sans-serif;
}

.word-cloud-container {
    display: flex;
    justify-content: center;  /* Center the word clouds */
    width: 80%;  /* Reduce the overall container width */
    margin: 0 auto;  /* Center the container */
    margin-top: 100px;
}

.cloud {
    width: 45%;  /* Keep the width of each cloud */
    height: 500px;
    position: relative;
    margin: 0 10px;  /* Small margin between the two clouds */
}

.title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

.area-chart-container {
    width: 80%;
    margin: 50px auto;
    position: relative;
}

.area-svg {
    background-color: transparent;
    display: block;
    margin: auto;
}

.area-legend {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.area-legend-item {
    margin-right: 20px;
    font-size: 14px;
    color: white;
}

.area-legend-color-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.area-axis text {
    fill: #ffffff;  /* Subtle axis labels */
    font-size: 12px;
}

.hover-box {
    width: 40%; /* Initial small size */
    height: 100px; /* Small height before click */
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 100px;
    position: relative;
    transition: all 0.5s ease; /* Smooth transition */
}

.hover-box.expanded {
    width: 90%; /* Larger size when expanded */
    height: 800px; /* Taller height to fit the PDF */
    padding: 20px;
}

.hover-box canvas {
    width: auto;
    max-width: 40%; /* Restrict width */
    height: auto;
    max-height: 100%;
    margin-right: 20px;
    display: block;
}

.hover-box .hover-text {
    flex-grow: 1;
    font-size: 10px;
}

.timeline-container {
    width: 80%;
    margin: auto;
    position: relative;
    padding-bottom: 20px;
}

.timeline {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 2px;
    background-color: white;
    margin-top: 30px;
}

.timeline-point {
    cursor: pointer;
    position: relative;
}

.timeline-point span.year {
    position: absolute;
    top: -30px;
    left: -10px;
}

.timeline-point .circle {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
}

.pdf-pagination {
    position: absolute;
    bottom: 10px;
    left: 20px;
    display: flex;
    justify-content: center;
    width: 40%;
    z-index: 2;
}

.pagination-circle {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.pagination-circle.active {
    background-color: orange;
}